#ignoring giant VS folders and databases
.vs/
Backup*/
Debug/
ipch/
*.sdf
*.db

#ignoring giant java folders
dist/
build/

#ignoring android compiled files
*.apk
/java_projects/CircuitProcessing/nbproject/private/