#ignoring giant VS folders and databases
.vs/
Backup*/
Debug/
ipch/
*.sdf
*.db

#ignoring giant java folders
dist/
build/

#ignoring android compiled files
*.apk
nbproject/private/

#ignoring all projects. Only mentioned here
java_projects/
**/Android_Projects
